body{
    background-image: url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:800px;
}

.movie-details{
    position: relative;
    top: 50%;
    padding-left: 7%;
}

.movie-title{
    font-size: 260%;
    font-weight: bolder;
}

.movie-description {
    font-weight: bold;
    width: 50%;
    text-align: justify;
}

nav {
    background-color: black;
    color:white;
    margin:-8px;
    padding:15px 30px;
}

.logo{
    font-size: 180%;
}
.nav-item{
    float:right;
    font-size: 120%;
    margin: 5px 0px 20px 20px;
    font-weight:bold;
}